---
import Layout from '../../layouts/Layout.astro';
import Body from '../../components/Body.astro'
import HomeButton from '../../components/HomeButton.astro';
import Input from '../../components/Input.astro';

import Select from '../../components/Select.jsx';

import cutters from '../../../public/cutters.json'

const tools = []
let count = 1
for (const [key, value] of Object.entries(cutters)) {
  tools.push({id: count, name: key})
  count++
}
---

<Layout title='Versatzrechner'>
  <Body>
    <HomeButton />
    <div class="py-24 px-16 w-full h-full grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-8">
      <div>
        <Select options={tools}
						  label="Label"
						  name="yo-name" client:load/>
        <div class="flex w-full gap-4 justify-stretch">
          <Input label="Durchmesser" identifier="d1"/>
          <Input label="Durchmesser" identifier="d2"/>
        </div>
      </div>
      <div>
        <img src="/debug_placeholder_img.png" alt="">
      </div>
      <div>
        <Select options={tools}
						  label="Label"
						  name="yo-name" client:load/>
      </div>
      <div>
        <img src="/debug_placeholder_img.png" alt="">
      </div>
    </div>
  </Body>
</Layout>
