---
import Layout from '../../layouts/Layout.astro';
import Body from '../../components/Body.astro'
import HomeButton from '../../components/HomeButton.astro';
---

<Layout title='Versatzrechner'>
  <Body>
    <HomeButton />
  </Body>
</Layout>
