---
import Layout from '../layouts/Layout.astro';
import Body from '../components/Body.astro';
---

<Layout title="Welcome to Astro.">
  <Body>
    <div class="container flex flex-col justify-center items-center p-6">
      <h1 class="font-light text-3xl mb-12">Applikationen</h1>
      <ul class="flex flex-col justify-center items-center space-y-8">
        <li><a class="p-3 border-2 border-black hover:bg-black hover:text-white transition ease-in-out" href="/VR1/tools/versatzrechner">Versatzrechner</a></li>
        <li><a class="p-3 border-2 border-black hover:bg-black hover:text-white transition ease-in-out" href="#">Chip Thinning</a></li>
      </ul>
    </div>
  </Body>
  <footer class="fixed bottom-0">
    <img class="w-24 mt-8" src="../../public/schindler-logo-two-color-eps.png" alt="">
  </footer>
</Layout>
